/nbproject
/Debug
/Release
/Testing
/Documentation/html/
/Documentation/output_snippets/
/CMakeLists.txt.user
/Build
/coverage_report

# Eclipse project stuff
/.settings
/.project
/.pydevproject

# VSCode
/.vscode
.gdb_history
