/nbproject
/Debug
/Release
/RelWithDebInfo
/Testing
/Documentation/html/
/Documentation/output_snippets/
/CMakeLists.txt.user
/Build
/coverage_report

# Eclipse project stuff
/.settings
/.project
/.pydevproject

# VSCode
/.vscode

# Editors
*.orig
*.bak
*.backup
*.swp

# GDB
.gdb_history
